<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Список задач</title>
</head>
<body>
    <h1>Список задач</h1>
    <a href="{% url 'create_task' %}">Добавить задачу</a>
    <ul>
        {% for task in tasks %}
            <li>
                {{ task.title }}: <br> {{ task.description }} <br> {{ task.deadline }} 
                <a href="{% url 'edit_task' task.pk %}">Редактировать</a>
                <a href="{% url 'delete_task' task.pk %}">Удалить</a>
                {% if task.complete %}
                    <span style="color: green;">(Выполнено)</span>
                {% else %}
                    <span style="color: red;">(Не выполнено)</span>
                {% endif %}
            </li>
        {% empty %}
            <li>Задачи отсутствуют.</li>
        {% endfor %}
    </ul>
</body>
</html>
